# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Vim backup file
*~
*.swp

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# VsCode dotfiles
.vscode/

# Compiled Python files
*.pyc
.idea/
.directory/

# Compiled C++ files
*.out
build/

# General
log/
*.log

# Application specific files
venv
node_modules
